<div>
    <h3>ADD A POKEMON</h3>
    <div>
        <input ng-model="vm.newTrainer.name" type="text" placeholder="Trainer Name">
        <button class="btn btn-secondary" ng-click="vm.addTrainer(vm.newTrainer)">ADD TRAINER</button>
    </div>
</div>
<div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Pets</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="trainer in vm.trainerList.list">
          <td>{{trainer.name}}</td>
          <td>{{trainer.numberOfPets}}</td>
          <td><button ng-click="vm.removeTrainer(trainer.id)">DELETE</button></td>
        </tr>
      </tbody>
    </table>
  </div>